body{
	font-size: 16px;
	color:#fff;
	background-color: black;
	font-family: 'Oxygen', sans-serif;
}
#header-nav{
	background-color: purple;
	border-radius: 0;
	border: 0;
}
.navbar-header h1{
	font-weight: bolder;
	color: blue;
	text-shadow: 0px 2px 2px  black;
	margin-bottom: 30px;
	position: relative;
}
h2{
	color:yellow;
	width: auto;
	height: auto;
	overflow: hidden;
	text-shadow: 0px 3px 3px  blue;
	position: relative;
}
#nav-list a {
  color: yellow;
  text-align: center;
}
#nav-list a:hover {
  background: black;
}
#nav-list a span {
  font-size: 1.8em;
}
#collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
     }
     .navbar-collapse.in{
     	overflow-y=auto;
     }
   .collapse.in{
   	 display:block;
   	    }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
.navbar-header button.navbar-toggle, .navbar-header .icon-bar
{
	border: 1px solid yellow;
}
.navbar-header button.navbar-toggle:hover, .navbar-header .icon-bar:hover {
  background: black;
}
.container{
	margin: auto;
	margin-bottom: 25px;
	
}
.chicken{
	text-align: center;
}
.Beef{
	text-align: center;
}
.Sushi{
	text-align: center;
}
.chick{
	background-color: grey;
	border: 2px solid yellow;
	overflow:scroll;
	height:150px;
}
.bee{
	background-color: grey;
	border: 2px solid yellow;
	overflow:scroll;
	height:150px;
}
.shush{
	background-color: grey;
	border: 2px solid yellow;
	overflow:scroll;
	height:150px;
}

